<html>
	<head>
		<title>Employee</title>
		{% load static %}
		<!-- CSS Link -->
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/index.css' %}">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<!-- Icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<h1>Please Signin with employee number <a href=""></a></h1>
			<form class='employee_login' action='{% url "e_login" %}' method='post'>
				{% csrf_token %}
				<p>Employee ID</p>
				<input type="text" name="employee_id">
				<p>Password:</p>
				<input type="text" name="password">
				<button type="submit">Login</button>
			</form>
			<form class="admin_login" action='{% url "a_login" %}' method="post">
				<p>Supervisor Login</p>
				{% csrf_token %}
				<p>User ID:</p>
				<input type="text" name="admin_id">
				<p>Password: </p>
				<input type="text" name="password">
				<button type="submit">Submit</button>
			</form>
			<div class="footer">
				<i class="fa fa-life-ring" aria-hidden="true"> Need Tech Support?</i>
				<i class="fa fa-phone" aria-hidden="true"> Contact Helpdesk </i>
				<i class="fa fa-address-card-o" aria-hidden="true"> Our Other Locations</i>
				<i class="fa fa-bug" aria-hidden="true">Report a Bug</i>


				
			</div>
		</div>
	</body>
</html>