.wrapper{
	background-color: #17568c;
	height: 100%;
	width: auto;
	background: url("images/desk.jpeg") no-repeat;
	text-align: center;
}
h1{
	background-color: blue;
	color: white !important;
}

.employee_login{
	background-color: #f0f0f0;
	height: 300px;
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	margin: 30px;
	
}
.admin_login{
	height: 300px;
	width: 250px;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	margin:30px;
	
}
button{
	margin: 5px 0px 0px 0px !important;
	background-color: #2384d3;
	color: white;
}