.wrapper{
background: url("images/hertz.jpg") no-repeat;
background-size: cover;
background-position: center center;
height: 100%;
width: auto;
text-align: center;
}
.header{
color: white;
font-style: italic;
}
h1{
display: inline-block;
}
.button{
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 5px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
float: right;
}
a{
background-color: #5a5a62;
height: 50px;
width: 84px;
font-color: white;
color: white;
}
.regform{
height: auto;
width: 400px;
background-color: #fff30099;
display: inline-block;
opacity: 0.8;
text-align: center;
border-radius: 29px;
}
.regform p{
margin: 5px;
font-size: 20px;
}
.login{
color: red;
font-size: 18px;
}
.logform{
height: auto;
width: 400px;
background-color: #fff30099;
display: inline-block;
vertical-align: top;
opacity: 0.8;
text-align: center;
border-radius: 29px;
}
.logform p{
margin: 5px;
font-size: 20px;
}