<html>
<head>
	<title>Reservations Page</title>

	{% load static %}

	<!-- CSS Link -->
	<link rel="stylesheet" type="text/css" href="{% static 'reservation/css/index.css' %}">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

</head>
<body>

	<div class="topnav" id="myTopnav">

		Welcome, {{ user.first_name }}!

		<a href="{% url 'dashboard' %}">About You </a>

		<a href="{% url 'vehicle' %}"><span class="glyphicon"></span> Vehicle </a>


		<a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout </a>

		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

	</div>
	<div class="wrapper">
		<h2>Let's Create a Reservation</h2>
		<form class="add_res" method="post">
	 		{% csrf_token %}

			<div class="top">
				<h4>About You</h4>
				<div class="field-wrap">
			 			<p>First Name</p>
			 			<input type="text" name="first_name">
			 			<p>Last Name</p>
			 			<input type="text" name="last_name">
			 			<p>E-mail</p>
			 			<input type="text" name="email">
			 			<p>Phone #</p>
			 			<input type="text" name="phone">
		 		</div>
		 		<div class="field-wrap">
		 			<p>Address</p>
		 			<input type="text" name="address">
		 			<p>City</p>
		 			<input type="text" name="city">
		 			<p>State</p>
		 			<input type="text" name="state">
		 			<p>Zip Code</p>
		 			<input type="text" name="zip">
		 		</div>
			</div>

			<div class="mid">
				<h4>Your Driver's Information</h4>
				<div class="field-wrap">
		 			<p>Date of Birth</p>
		 			<input type="date" name="dob">
		 			<p>Drivers License Number</p>
		 			<input type="text" name="dl_number">
		 			<p>Drivers License State</p>
		 			<input type="text" name="dl_state">
		 			<p>Drivers License Issue Date</p>
		 			<input type="date" name="dl_issue">
		 			<p>Drivers License Exp Date</p>
		 			<input type="date" name="dl_exp">
		 		</div>
		 			
				<div class="field-wrap">
		 			<h3>Insurance</h3>
		 			<p>Name: </p>
		 			<input type="text" name="insurance">
		 			<p>Policy #</p>
		 			<input type="text" name="policy_num">
		 			<p>Exp. Date: </p>
		 			<input type="date" name="ins_exp">
		 			<br>
		 			<br>
		 			<p>Would you like to add Our Protection?</p>
				</div>
			</div>
			<div class="low">
				<h4>Which Vehicle? Where? How Long?</h4>
				<div class="field-wrap">
					<p>Pickup Location: </p>
					<input type="text" name="pu_location">
					<p>Pickup date:</p>
					<input type="date" name="pu_date">
					<p>Dropoff Location: </p>
					<input type="text" name="do_location">
					<p>Dropoff date:</p>
					<input type="date" name="do_date">
				</div>

			</div>
			<button>Book This Reservation</button>
		</form>
	</div>

</body>
</html>