<html>
<head>
	<title>Choose the Vehicle</title>
</head>
<body>

	<div class="vehicle">

		<p>Vehicle needed</p>
		
	<select name="vehicle" >
		<option value="compact">Compact Sedan</option>
		<option value="midsize">Midsize Sedan</option>
		<option value="fullsize">Full-size Sedan</option>
		<option value="suv">SUV</option>
	</select> 

		<p>Pickup Date/Time</p>
		<input type="date">

		<p>Pickup Location</p>
		<select name="location" >
		<option value="dallas">Dallas</option>
		<option value="plano">Plano</option>
		<option value="garland">Garland</option>
		<option value="richardson">Richardson</option>
	</select> 

		<p>Dropoff Date/Time</p>
		<input type="date">

		<p>Dropoff Location</p>
		<select name="location" >
		<option value="dallas">Dallas</option>
		<option value="plano">Plano</option>
		<option value="garland">Garland</option>
		<option value="richardson">Richardson</option>
	</select> 

	</div>

</body>
</html>