.wrapper{
height: auto;
width: auto;
padding: 10px;
margin-right: auto;
margin-left: auto;
background-color: #beb2fb;
}

.field-wrap{
  display: inline-block;
  border: 2px solid black;
  padding: 30px;
  height: auto;
  width: 24%;
  vertical-align: top;
  margin:30px;
}
.quote{
	min-height: 300px;
	min-width: 400px;
	display: inline-block;
	vertical-align: top;
	border: 2px solid black;
	padding: 10px;
}